<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="/js/dashboard.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script
	src="http://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<title>DevOps</title>
<meta charset="utf-8">
</head>
<body onload="getChromeVersion()">
	<nav>
		<div class="nav-wrapper">
			<a href="/dashboard" class="brand-logo">&nbsp;&nbsp;&nbsp;DevOps</a>
		</div>
	</nav>
</body>
</html>